@model IEnumerable<Hospital.Web.DTOs.Patient.PatientDTO>

@{
    ViewData["Title"] = "Patients List";
}

<h2>
    <i class="bi bi-file-person-fill"></i>
    Patients List</h2>
<hr />

<form>
    <button asp-action="Create" asp-controller="Patient" class="btn btn-success">
        <i class="bi bi-clipboard2-plus"></i>
        Create Patient
    </button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>UserName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Name</td>
                    <td>@patient.Gender</td>
                    <td>@patient.UserName</td>
                    <td>
                        @* <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-success">Details</a> *@
                        <a asp-action="Edit" asp-route-id="@patient.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@patient.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>